
.form{
    background-color: #ede7f6;
    min-height: 100vh;
    max-width: 100%;
    width: 100%;
    /* margin: auto; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.required{
    font-size: 13px;
    color: red;
}
.form-title{
    height: 150px;
    max-width: 100% !important;
    width: 600px !important;
    background-color: #FDFEFE;
    /* margin: auto 15px; */
    border-radius: 8px;
    border-top: 8px solid #6703c4;
    padding: 25px;
}


.block {
    padding-top: 1.5rem;
    padding-bottom:1.5rem;
    max-width: 100%;
    width: 600px;
    background-color: #FDFEFE;
    margin: 15px;
    border-radius: 8px;
}
.text{
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
}
.input-block{
    padding-top: 10px;
    padding-left: 22px;
    margin-right: 1.5rem;
}
.input-block input{
    max-width: 540px;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1.5px solid #DCD7D7;    
    font-size: 15px;
    padding-bottom: .3rem;
}

input:focus{
    border-bottom: 1.5px solid #DCD7D7;  
    border: none !important;
}
.btn-one{
    height: 36px;
    width: 100px;
    background-color: #a39baa;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 540;
    border: none;
    padding: 10px;
    margin: 15px;
    color: white;
    cursor: pointer;
}
.btn-one:hover{
    background-color: #332e36;
}

.btn{
    height: 40px;
    width: 100px;
    background-color: #6703c4;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 540;
    border: none;
    padding: 10px;
    margin-top: 30px;
    color: white;
    /* position: absolute; */
    cursor: pointer;
}
.last-block> h2{
    text-align: center;
    padding-top: 30px;
    color: #a2a4a6;
    font-weight: 200;
    font-size: 18;
}
.never{
    padding-left: 15px;
    padding-top: 70px;
    font-size: 12px;
    font-weight: 400;
}
.policy{
    padding-left: 65px;
    padding-top: 5px;
    font-size: 12px;
    position: absolute;
}


/* .gender-container {
    
    padding: 8px;
    padding-top: 25px;
    padding-left: 20px;
  } */
  
  .gender-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 8px;
    padding-top: 10px;
    padding-left: 20px;
}

.gender-container label {
    cursor: pointer;
    display: flex;
}

.gender-container input[type='radio'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.gender-container label::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: .5em;
    border: .05em solid black;
}

.gender-container label:hover::before,
input[type="radio"]:hover + label::before {
    background-color: #c586fd;
    transition: 0.5s ease;
}

.gender-container input[type="radio"]:focus + label::before {
    box-shadow: 0 0 20px black;
}

.gender-container input[type="radio"]:disabled + label,
.gender-container input[type="radio"]:disabled {
    color: #aaa;
    cursor: default;
}

.gender-container input[type="radio"]:checked + label::before {
    content: "\002714";
    background-color: #27AE60;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.gender-container input[type='radio']:disabled + label::before {
    background-color: #ccc;
    border-color: #999;
}

@media screen and (max-width: 568px) {
    .form-title{
        width: 100% !important;
        height: auto;
    }

    

    .title-title{
        font-size: 24px !important;
    }

    .form-title > p{
        font-size: 16px;
        margin-top: .5rem;
        margin-bottom: .5rem

    }

    .form > .block{
        margin: 15px 2rem 0 2rem !important;
    }

    input[type = "date"]{
        background-color: transparent;
    }

}